@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
body {
  background-color: #a9b3ab;
  box-sizing: border-box;
  height: 3000px;
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1100px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-navbar-section .navbar {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.main-navbar-section .navbar .content {
  height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.main-navbar-section .navbar .content .logo-container .logo {
  -webkit-transition: font-size .25s;
  transition: font-size .25s;
  color: #fff;
  text-decoration: none;
  font-size: 29px;
  font-weight: 300;
}

.main-navbar-section .navbar .content .logo-container .logo .logo-initials {
  -webkit-transition: font-size .25s;
  transition: font-size .25s;
  color: #ecc969;
  font-size: 31px;
}

.main-navbar-section .navbar .content .contact-link-container .contact-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 7px 20px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.main-navbar-section .navbar .content .contact-link-container .contact-link:hover {
  background-color: #fff;
  color: #51bf87;
}

.main-navbar-section .first-scroll-navbar {
  background-color: rgba(81, 191, 135, 0.7) !important;
}

.main-navbar-section .first-scroll-navbar .content {
  height: 70px !important;
}

.main-navbar-section .second-scroll-navbar {
  background-color: #51bf87 !important;
  border-bottom-color: #3eb177;
}

@media (max-width: 767px) {
  .main-navbar-section .navbar .content {
    height: 70px;
    padding: 0px !important;
  }
  .main-navbar-section .navbar .content .logo-container .logo {
    font-size: 23px;
  }
  .main-navbar-section .navbar .content .logo-container .logo .logo-initials {
    font-size: 25px;
  }
  .main-navbar-section .navbar .content .contact-link-container .contact-link {
    font-size: 16px;
    padding: 5px 20px;
  }
  padding: 0px !important;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-page .main-hero {
  padding-top: 150px;
  padding-bottom: 20px;
  background: #51bf87;
  background: -webkit-linear-gradient(55deg, #51bf87 53%, #59d587 50%, #51bf87 100%);
  background: -webkit-linear-gradient(41deg, #51bf87 53%, #59d587 50%, #51bf87 100%);
  background: linear-gradient(49deg, #51bf87 53%, #59d587 50%, #51bf87 100%);
  -webkit-transition: padding .25s;
  transition: padding .25s;
}

.main-page .main-hero .header {
  margin: 0px;
  text-align: center;
  color: #ecc969;
  text-shadow: 0px 0px 19px #3d7a68;
  letter-spacing: 7px;
  font-size: 43px;
  font-weight: 400;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 50px;
}

.main-page .main-hero .hero-img {
  margin: 0 auto;
  max-height: 350px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .main-page .main-hero {
    padding-top: 140px;
  }
  .main-page .main-hero .header {
    letter-spacing: 6px;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .main-page .main-hero .hero-img {
    max-height: 330px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 769px) {
  .main-page .main-hero {
    padding-top: 130px;
  }
  .main-page .main-hero .header {
    letter-spacing: 6px;
    font-size: 37px;
    margin-bottom: 30px;
  }
  .main-page .main-hero .hero-img {
    margin: 0 auto;
    max-height: 310px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .main-page .main-hero {
    padding-top: 120px;
  }
  .main-page .main-hero .header {
    letter-spacing: 5px;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .main-page .main-hero .hero-img {
    max-height: 290px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 321px) {
  .main-page .main-hero {
    padding-top: 110px;
  }
  .main-page .main-hero .header {
    letter-spacing: 3px;
    font-size: 31px;
    margin-bottom: 30px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-page .main-hero {
    padding-top: 100px;
  }
  .main-page .main-hero .header {
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-page .main-aboutme {
  height: 300px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-page .main-abilities {
  background: url("/img/html-ability2.jpg") #f5f2ed top center no-repeat fixed;
  background-size: cover;
}

.main-page .main-abilities .background-suppressor {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 90px 0px 90px 0px;
  -webkit-transition: padding .25s;
  transition: padding .25s;
}

.main-page .main-abilities .header {
  font-family: 'Slabo 27px', serif;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  margin: 0px 0px 15px 0px;
  text-shadow: 0px 0px 25px black;
}

.main-page .main-abilities .title-bar {
  height: 1px;
  border-bottom: 1px solid #e5e3df;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}

.main-page .main-abilities .title-bar .bar-accent {
  position: absolute;
  border: 1px solid #ecc969;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  top: -4px;
  left: 47%;
}

.main-page .main-abilities .main-container .legend {
  padding-right: 50px;
}

.main-page .main-abilities .main-container .legend .header {
  color: #fff;
  font-size: 23px;
  text-align: right;
}

.main-page .main-abilities .main-container .legend ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: right;
}

.main-page .main-abilities .main-container .legend ul li {
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 0px;
  letter-spacing: 1px;
}

.main-page .main-abilities .main-container .legend ul li .separator {
  font-size: 30px;
  position: relative;
  top: 4px;
}

.main-page .main-abilities .main-container .legend ul li .fa-circle {
  margin-left: 10px;
}

.main-page .main-abilities .main-container .legend ul li .proficient {
  color: #51bf87;
}

.main-page .main-abilities .main-container .legend ul li .competent {
  color: #ecc969;
}

.main-page .main-abilities .main-container .legend ul li .novice {
  color: #8a4b70;
}

.main-page .main-abilities .main-container .abilities {
  padding: 40px 150px 0px 150px;
}

.main-page .main-abilities .main-container .abilities .abilities-list {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

.main-page .main-abilities .main-container .abilities .abilities-list .item-container {
  position: relative;
  display: inline-block;
}

.main-page .main-abilities .main-container .abilities .abilities-list .item-container .practice {
  position: absolute;
  font-size: 30px;
}

.main-page .main-abilities .main-container .abilities .abilities-list .item {
  position: relative;
  cursor: default;
  display: inline-block;
  padding: 7px 15px;
  margin: 0px 5px 10px 5px;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
}

.main-page .main-abilities .main-container .abilities .abilities-list .proficient {
  background-color: #51bf87;
}

.main-page .main-abilities .main-container .abilities .abilities-list .proficient:hover {
  background-color: #1a7a4a;
}

.main-page .main-abilities .main-container .abilities .abilities-list .competent {
  background-color: #ecc969;
}

.main-page .main-abilities .main-container .abilities .abilities-list .competent:hover {
  background-color: #ac8822;
}

.main-page .main-abilities .main-container .abilities .abilities-list .novice {
  background-color: #8a4b70;
}

.main-page .main-abilities .main-container .abilities .abilities-list .novice:hover {
  background-color: #4a2139;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .main-page .main-abilities .background-suppressor {
    padding: 85px 0px 35px 0px;
  }
  .main-page .main-abilities .header {
    font-size: 38px;
  }
  .main-page .main-abilities .main-container .abilities {
    padding: 40px 120px 0px 120px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list {
    margin: 0px;
    padding: 0px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list .item {
    padding: 7px 15px;
    margin: 0px 5px 10px 5px;
    font-size: 19px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .main-page .main-abilities .background-suppressor {
    padding: 70px 0px 30px 0px;
  }
  .main-page .main-abilities .header {
    font-size: 36px;
  }
  .main-page .main-abilities .main-container .abilities {
    padding: 40px 90px 0px 90px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list {
    margin: 0px;
    padding: 0px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list .item {
    padding: 7px 15px;
    margin: 0px 5px 10px 5px;
    font-size: 19px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 481px) {
  .main-page .main-abilities .background-suppressor {
    padding: 55px 0px 25px 0px;
  }
  .main-page .main-abilities .header {
    font-size: 34px;
  }
  .main-page .main-abilities .title-bar {
    margin-bottom: 20px;
  }
  .main-page .main-abilities .main-container .legend {
    padding-right: 15px;
  }
  .main-page .main-abilities .main-container .legend .header {
    color: #fff;
    font-size: 23px;
    text-align: right;
  }
  .main-page .main-abilities .main-container .legend ul {
    padding: 0px;
    list-style: none;
    text-align: center;
  }
  .main-page .main-abilities .main-container .legend ul li {
    display: inline-block;
  }
  .main-page .main-abilities .main-container .legend ul li .fa-circle {
    margin-left: 3px;
  }
  .main-page .main-abilities .main-container .abilities {
    padding: 30px 80px 0px 80px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list {
    margin: 0px;
    padding: 0px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list .item {
    padding: 6px 13px;
    margin: 0px 5px 10px 5px;
    font-size: 17px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 321px) {
  .main-page .main-abilities .background-suppressor {
    padding: 40px 0px 20px 0px;
  }
  .main-page .main-abilities .header {
    font-size: 32px;
  }
  .main-page .main-abilities .title-bar {
    margin-bottom: 20px;
  }
  .main-page .main-abilities .main-container .legend {
    padding-right: 15px;
  }
  .main-page .main-abilities .main-container .legend .header {
    color: #fff;
    font-size: 23px;
    text-align: right;
  }
  .main-page .main-abilities .main-container .legend ul {
    padding: 0px;
    list-style: none;
    text-align: center;
  }
  .main-page .main-abilities .main-container .legend ul li {
    display: inline-block;
  }
  .main-page .main-abilities .main-container .legend ul li .fa-circle {
    margin-left: 3px;
  }
  .main-page .main-abilities .main-container .abilities {
    padding: 30px 0px 0px 0px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list {
    margin: 0px;
    padding: 0px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list .item {
    padding: 5px 12px;
    margin: 0px 5px 10px 5px;
    font-size: 17px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-page .main-abilities .background-suppressor {
    padding: 25px 0px 20px 0px;
  }
  .main-page .main-abilities .header {
    font-size: 30px;
  }
  .main-page .main-abilities .title-bar {
    margin-bottom: 20px;
  }
  .main-page .main-abilities .main-container .legend {
    padding-right: 15px;
  }
  .main-page .main-abilities .main-container .legend .header {
    color: #fff;
    font-size: 23px;
    text-align: right;
  }
  .main-page .main-abilities .main-container .legend ul {
    padding: 0px;
    list-style: none;
    text-align: center;
  }
  .main-page .main-abilities .main-container .legend ul li {
    display: inline-block;
  }
  .main-page .main-abilities .main-container .legend ul li .fa-circle {
    margin-left: 3px;
  }
  .main-page .main-abilities .main-container .abilities {
    padding: 30px 0px 0px 0px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list {
    margin: 0px;
    padding: 0px;
  }
  .main-page .main-abilities .main-container .abilities .abilities-list .item {
    padding: 5px 12px;
    margin: 0px 5px 10px 5px;
    font-size: 17px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-page .main-projects {
  padding: 90px 0px 90px 0px;
  -webkit-transition: padding .25s;
  transition: padding .25s;
  background-color: #fff;
}

.main-page .main-projects .header {
  font-family: 'Slabo 27px', serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  margin: 0px 0px 15px 0px;
  -webkit-transition: font-size .25s;
  transition: font-size .25s;
  color: #666;
}

.main-page .main-projects .title-bar {
  height: 1px;
  border-bottom: 1px solid #e5e3df;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}

.main-page .main-projects .title-bar .bar-accent {
  position: absolute;
  border: 1px solid #ecc969;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  top: -4px;
  left: 47%;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .main-page .main-projects {
    padding: 85px 0px 35px 0px;
  }
  .main-page .main-projects .header {
    font-size: 38px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .main-page .main-projects {
    padding: 70px 0px 30px 0px;
  }
  .main-page .main-projects .header {
    font-size: 36px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 481px) {
  .main-page .main-projects {
    padding: 55px 0px 25px 0px;
  }
  .main-page .main-projects .header {
    font-size: 34px;
  }
  .main-page .main-projects .title-bar {
    margin-bottom: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 321px) {
  .main-page .main-projects {
    padding: 40px 0px 20px 0px;
  }
  .main-page .main-projects .header {
    font-size: 32px;
  }
  .main-page .main-projects .title-bar {
    margin-bottom: 20px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-page .main-projects {
    padding: 25px 0px 20px 0px;
  }
  .main-page .main-projects .header {
    font-size: 30px;
  }
  .main-page .main-projects .title-bar {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=all.css.map */
