// Body
$body-bg: #f5f8fa

// Colors
$primary-color: rgb(81, 191, 135)
$primary-accent-color: rgb(236, 201, 105)
$secondary-color: rgb(62, 177, 119)

// Typography
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500')
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700')
$font-family-roboto: "Roboto", sans-serif
$font-size-base: 14px
$line-height-base: 1.6
$text-color: #636b6f

// Buttons
$btn-default-color: $text-color
