// Body
$body-bg: #f5f8fa

// Colors
$primary-color: rgb(81, 191, 135)
$secondary-color: rgb(62, 177, 119)
$primary-accent-color: rgb(236, 201, 105)
$secondary-accent-color: rgb(172, 136, 34)
$primary-header-color: #666

$proficient-color: rgb(81, 191, 135)
$proficient-secondary-color: rgb(26, 122, 74)
$competent-color: rgb(236, 201, 105)
$competent-secondary-color: rgb(172, 136, 34)
$novice-color: rgb(138, 75, 112)
$novice-secondary-color: rgb(74, 33, 57)

// Typography
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500')
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700')
@import url('https://fonts.googleapis.com/css?family=Slabo+27px')
$font-family-roboto: "Roboto", sans-serif
$font-size-base: 14px
$line-height-base: 1.6
