@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
.main-page .main-projects {
  padding-top: 90px; }
  .main-page .main-projects .header {
    font-family: "Slabo 27px", serif;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin: 0px 0px 15px 0px;
    color: #666; }
  .main-page .main-projects .title-bar {
    height: 1px;
    border-bottom: 1px solid #e5e3df;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative; }
    .main-page .main-projects .title-bar .bar-accent {
      position: absolute;
      border: 1px solid #ecc969;
      height: 9px;
      width: 9px;
      border-radius: 50%;
      top: -4px;
      left: 47%; }
  .main-page .main-projects .projects .project-container {
    padding: 0px 5px;
    margin-bottom: 10px;
    overflow: hidden; }
    .main-page .main-projects .projects .project-container .project {
      position: relative; }
      .main-page .main-projects .projects .project-container .project img {
        border: 1px solid #34b3a0;
        padding: 5px;
        border-radius: 3px;
        background-color: #fff; }
      .main-page .main-projects .projects .project-container .project .project-meta {
        float: left;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(22, 93, 122, 0.8);
        opacity: 0;
        transition: opacity 0.25s;
        border-radius: 3px; }
        .main-page .main-projects .projects .project-container .project .project-meta .row {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
        .main-page .main-projects .projects .project-container .project .project-meta .column {
          text-align: center; }
        .main-page .main-projects .projects .project-container .project .project-meta .col-left {
          margin-left: 20px; }
        .main-page .main-projects .projects .project-container .project .project-meta .col-right {
          margin-right: 20px; }
        .main-page .main-projects .projects .project-container .project .project-meta .project-link {
          text-decoration: none;
          font-size: 21px;
          font-weight: 300;
          border-radius: 3px;
          padding: 8px 25px;
          transition: all 0.25s;
          -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75); }
        .main-page .main-projects .projects .project-container .project .project-meta .github-link {
          background-color: #24292e;
          border: 2px solid #24292e;
          color: #fff;
          margin-left: 5px; }
        .main-page .main-projects .projects .project-container .project .project-meta .visit-link {
          background-color: #ecc969;
          border: 2px solid #ecc969;
          color: #fff;
          margin-right: 5px; }
        .main-page .main-projects .projects .project-container .project .project-meta .disabled-link {
          cursor: not-allowed; }
    .main-page .main-projects .projects .project-container .project:hover .project-meta {
      opacity: 1;
      transform: translate(0%, 0%) scale(1); }
  .main-page .main-projects .links-container {
    padding: 50px 0px 60px 0px;
    font-family: "Slabo 27px", serif;
    text-align: center; }
    .main-page .main-projects .links-container .main-link {
      text-decoration: none;
      font-size: 21px;
      font-weight: 300;
      border-radius: 3px;
      padding: 7px 20px;
      transition: background-color 0.25s; }
    .main-page .main-projects .links-container .github-link {
      border: 2px solid #24292e;
      color: #24292e;
      margin-left: 5px; }
      .main-page .main-projects .links-container .github-link:hover {
        background-color: #24292e;
        color: #fff; }
    .main-page .main-projects .links-container .resume-link {
      border: 2px solid #34b3a0;
      color: #34b3a0;
      margin-right: 5px; }
      .main-page .main-projects .links-container .resume-link:hover {
        background-color: #34b3a0;
        color: #fff; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .main-page .main-projects {
    padding-top: 80px; }
    .main-page .main-projects .header {
      font-size: 38px; }
    .main-page .main-projects .resume-container {
      padding: 25px 0px 35px 0px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 767px) {
  .main-page .main-projects {
    padding-top: 70px; }
    .main-page .main-projects .header {
      font-size: 36px; }
    .main-page .main-projects .resume-container {
      padding: 20px 0px 30px 0px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .main-page .main-projects {
    padding-top: 60px; }
    .main-page .main-projects .header {
      font-size: 34px; }
    .main-page .main-projects .title-bar {
      margin-bottom: 20px; }
    .main-page .main-projects .resume-container {
      padding: 30px 0px 40px 0px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .main-page .main-projects {
    padding-top: 50px; }
    .main-page .main-projects .header {
      font-size: 32px; }
    .main-page .main-projects .title-bar {
      margin-bottom: 20px; }
    .main-page .main-projects .resume-container {
      padding: 30px 0px 40px 0px; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-page .main-projects {
    padding-top: 40px; }
    .main-page .main-projects .header {
      font-size: 30px; }
    .main-page .main-projects .title-bar {
      margin-bottom: 20px; }
    .main-page .main-projects .resume-container {
      padding: 30px 0px 40px 0px; } }

/*# sourceMappingURL=main-projects.css.map */
