@import "variables/_variables.sass"

.main-page
  .main-projects
    padding-top: 90px
    .header
      font-family: 'Slabo 27px', serif
      letter-spacing: 2px
      text-align: center
      font-weight: 300
      font-size: 40px
      margin: 0px 0px 15px 0px
      color: #666
    .title-bar
      height: 1px
      border-bottom: 1px solid #e5e3df
      width: 50%
      margin: 0 auto
      margin-bottom: 40px
      position: relative
      .bar-accent
        position: absolute
        border: 1px solid $primary-accent-color
        height: 9px
        width: 9px
        border-radius: 50%
        top: -4px
        left: 47%
    .projects
      .project-container
        padding: 0px 5px
        margin-bottom: 10px
        overflow: hidden
        .project
          position: relative
          img
            border: 1px solid $primary-color
            padding: 5px
            border-radius: 3px
            background-color: #fff
          .project-meta
            float: left
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background-color: fade-out($footer-color, 0.2)
            opacity: 0
            transition: opacity .25s
            border-radius: 3px
            .row
              height: 100%
              display: flex
              align-items: center
              justify-content: center
            .column
              text-align: center
            .col-left
              margin-left: 20px
            .col-right
              margin-right: 20px
            .project-link
              text-decoration: none
              font-size: 21px
              font-weight: 300
              border-radius: 3px
              padding: 8px 25px
              transition: all .25s
              -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75)
              -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75)
              box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75)
            .github-link
              background-color: #24292e
              border: 2px solid #24292e
              color: #fff
              margin-left: 5px
            .visit-link
              background-color: $primary-accent-color
              border: 2px solid $primary-accent-color
              color: #fff
              margin-right: 5px
            .disabled-link
              cursor: not-allowed
        .project:hover .project-meta
          opacity: 1
          transform: translate(0%, 0%) scale(1)

    .links-container
      padding: 50px 0px 60px 0px
      font-family: 'Slabo 27px', serif
      text-align: center
      .main-link
        text-decoration: none
        font-size: 21px
        font-weight: 300
        border-radius: 3px
        padding: 7px 20px
        transition: background-color .25s
      .github-link
        border: 2px solid #24292e
        color: #24292e
        margin-left: 5px
        &:hover
          background-color: #24292e
          color: #fff
      .resume-link
        border: 2px solid $primary-color
        color: $primary-color
        margin-right: 5px
        &:hover
          background-color: $primary-color
          color: #fff

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) and (min-width : 991px)
  .main-page
    .main-projects
      padding-top: 80px
      .header
        font-size: 38px

      .resume-container
        padding: 25px 0px 35px 0px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) and (min-width : 767px)
  .main-page
    .main-projects
      padding-top: 70px
      .header
        font-size: 36px

      .resume-container
        padding: 20px 0px 30px 0px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) and (min-width : 480px)
  .main-page
    .main-projects
      padding-top: 60px
      .header
        font-size: 34px
      .title-bar
        margin-bottom: 20px

      .resume-container
        padding: 30px 0px 40px 0px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) and (min-width : 320px)
  .main-page
    .main-projects
      padding-top: 50px
      .header
        font-size: 32px
      .title-bar
        margin-bottom: 20px

      .resume-container
        padding: 30px 0px 40px 0px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .main-page
    .main-projects
      padding-top: 40px
      .header
        font-size: 30px
      .title-bar
        margin-bottom: 20px

      .resume-container
        padding: 30px 0px 40px 0px
